.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
  background-color: transparent;
  position: static;
}

.logo a {
  font-family: var(--font-general-sans);
  font-size: 0.85rem;
  font-weight: 500;
  color: var(--foreground);
  text-decoration: none;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.nav {
  display: flex;
  gap: 2rem;
}

.nav a {
  font-family: var(--font-general-sans);
  color: var(--foreground);
  text-decoration: none;
  font-weight: 500;
  font-size: 0.85rem;
  text-transform: uppercase;
  transition: opacity 0.3s ease;
}

.nav a:hover {
  opacity: 0.6;
}
